table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 20%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  button{
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 40%;
    height: 50%;
}