table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }